$primary-color:#00a2ff;
$secondary-color:#010358;
$border:#2DB7FF;
$black: #000;
$white:#fff;
$grey :#5c5c5c;
$grey2:#00000091;
$grey3:#cecbcb91;
$background:#ff7a0033;
$green:#28a745;
$dgreen:rgb(30, 255, 0);
$width_banner:1300;
$background-tranparent:hsla(0, 0%, 0%, 0.349);
$blue:#4400ff;
$red:#ea4235;
$tanespher:#ff7a0091;
$heading:#2E2E2E;


